<a href="https://colab.research.google.com/github/SagarSitaula1/Data-Visual/blob/main/Exam2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sagar Sitaula, Exam 2

# CPSMA 4313

# SOURCE USED









I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.

Before starting with the code and cool data visualization, I am going to import different librieries needed for the completion of the project.

In [79]:
import requests
import pandas as pd
import numpy as np
import re

These are all the libraries, I have used to complete the exam.I don't know If I  need all these libraries but I just put it there just in case.I put out all the libraries I used up till now.

In [58]:
df = pd.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv")
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

On the code above, I just stored a data on df by pulling the data straight from the internet. I also used panda as to store the data frame.After storing the data I used the head code to display the data frame but only the top 4 rows and columns.

In [59]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

As we see in the above result df.dtypes gave me data types where there are different data types some of them are int64, object and float64.

The df.types command will inform me what kind of data each column has. I would convert the object dtype in activity day to DateTime datatype after analyzing the dataset. I'm confident that using float dtype in calories, min pace, and max pace will help us calculate the accurate output. Because we count them in entire steps, the float datatype in total steps can be substituted with an int datatype. I'll also use folat instead of datatype in min heart rate.

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activity_day    1000 non-null   object
 1   workout_type    1000 non-null   object
 2   distance        1000 non-null   float64
 3   time            1000 non-null   int64
 4   calories        1000 non-null   int64
 5   total_steps     1000 non-null   float64
 6   avg_speed       1000 non-null   float64
 7   avg_cadence     1000 non-null   float64
 8   max_cadence     1000 non-null   float64
 9   avg_pace        554 non-null    float64
 10  max_pace        554 non-null    object
 11  min_pace        554 non-null    object
 12  avg_heart_rate  1000 non-null   float64
 13  max_heart_rate  1000 non-null   float64
 14  min_heart_rate  1000 non-null   int64
 15  vo2_max(%)      1000 non-null   int64
 16  aerobic(%)      1000 non-null   int64
 17  anaerobic(%)    1000 non-null   int64
 18  intensive(%)    1000 non-null   int64
 19  light(%)        1000 non-null   int64
dtypes: float64(8), int64(8), object(4)
memory usage: 156.4+ KB

By using this command, I can see there are some columns with unnamed index which, I am going to remove by using a drop function.

In [75]:
df = df.drop(columns=['Unnamed: 0'])

KeyError: ignored

In [62]:
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

On the above code, I used the function drop to remove the column unnamed: 0.

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activity_day    1000 non-null   object
 1   workout_type    1000 non-null   object
 2   distance        1000 non-null   float64
 3   time            1000 non-null   int64
 4   calories        1000 non-null   int64
 5   total_steps     554 non-null    float64
 6   avg_speed       1000 non-null   float64
 7   avg_cadence     1000 non-null   float64
 8   max_cadence     1000 non-null   float64
 9   avg_pace        554 non-null    object
 10  max_pace        554 non-null    object
 11  min_pace        554 non-null    object
 12  avg_heart_rate  1000 non-null   float64
 13  max_heart_rate  1000 non-null   float64
 14  min_heart_rate  1000 non-null   int64
 15  vo2_max(%)      1000 non-null   int64
 16  aerobic(%)      1000 non-null   int64
 17  anaerobic(%)    1000 non-null   int64
 18  intensive(%)    1000 non-null   int64
 19  light(%)        1000 non-null   int64
dtypes: float64(7), int64(8), object(5)
memory usage: 156.4+ KB

After, removing the column unnamed from the data frame, here I am just checking the by printing the info and I dont see the unnamed column here.

In [64]:
cols = df.columns.map(lambda s: re.sub(r"[(.%)]","",s))
cols

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

To delete the unit declaration, I used the import re and lamda functions. I was able to utilize the re to delete the unit declaration after using lamda and passing it as an argument. I couldn't find any empty places in the columns, so I left it alone.

In [65]:
pd.to_datetime(df.activity_day, format = '%Y-%m-%d')

0     2022-01-01
1     2022-01-01
2     2022-01-01
3     2022-01-01
4     2022-01-01
         ...
995   2022-02-14
996   2022-02-14
997   2022-02-14
998   2022-02-14
999   2022-02-14
Name: activity_day, Length: 1000, dtype: datetime64[ns]

On the code above, I just used the function to convert the activity_day column to data and time format by specifying the format.The only thing, I haad to be careful was the format of date and time.

In [66]:
df.total_steps.fillna(value=df.total_steps.min(), inplace = True)
df.head(10)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
5,2022-01-01,Outdoor Cycling,5.47,117,144,1571.0,2.20,43.47,291.67,NaN,NaN,NaN,142.0,177.0,107,44,45,15,57,39
6,2022-01-01,Indoor Cycling,6.28,66,378,1571.0,10.65,23.83,253.84,NaN,NaN,NaN,85.0,90.0,80,34,32,0,44,23
7,2022-01-01,Outdoor Running,2.94,26,430,7618.0,10.59,131.93,334.72,06:44,27:44,06:15,145.0,190.0,100,23,0,71,18,3
8,2022-01-01,Trail Run,2.87,26,465,2790.0,32.92,21.42,341.17,06:48,25:50,06:20,142.0,188.0,96,2,0,80,46,13
9,2022-01-01,Pool Swimming,3.91,23,99,1571.0,33.15,169.30,206.97,NaN,NaN,NaN,132.5,175.0,90,22,20,15,28,20

In [67]:
df['avg_pace'].dtype

dtype('O')

In [68]:
df['avg_pace'] = pd.DatetimeIndex(df['avg_pace'])
df['avg_pace'] = df['avg_pace'].apply(lambda avg_pace: avg_pace.hour + (avg_pace.minute / 60))
df['avg_pace'].head(10)

0         NaN
1         NaN
2         NaN
3    7.966667
4         NaN
5         NaN
6         NaN
7    6.733333
8    6.800000
9         NaN
Name: avg_pace, dtype: float64

Here, I changed the object datatype to dateTimeIndex first, then calculated the hour and minutes with the lambda function. The hour and minute functions in datetimeindex return exact hours and minutes from the dataset.Then, I divided a minute by 60 and multiply it by an hour to get a decimal result for total minutes. Finally, I applied this to all of the values in the avg pace column using the lambda function.

In [69]:
df.groupby('workout_type')
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,7.966667,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [70]:
df.groupby('workout_type').calories.agg(['mean', 'median', 'count', 'std'])

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

Here, I just used the gropuby function to group the workout_type and used agg to calculated the mean, median, count and standard deviation as shown above.

In [71]:
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,1571.0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,1571.0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,1571.0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,7.966667,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,1571.0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [91]:
df1 = df.loc[df['max_cadence'] == df['max_cadence'].max()]
print('maximum_cadence = ' + str(df['max_cadence'].max()))
print('workout_type = ' + df1.workout_type.iloc[0])
print('day_of_week = ' + df1.activity_day.dt.day_name().iloc[0])

maximum_cadence = 349.78
workout_type = Pool Swimming

AttributeError: ignored