<a href="https://colab.research.google.com/github/SagarSitaula1/Data-Visual/blob/main/quiz_18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pa

df = pa.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/AB_NYC_2019.csv")
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

First, I will be converting the room type to its appropriate numerical data.I will be using get dummies function to convert it to the numerical value.

In [36]:
pa.get_dummies(df.room_type).head()

   Entire home/apt  Private room  Shared room
0                0             1            0
1                1             0            0
2                0             1            0
3                1             0            0
4                1             0            0

Here, we can see the room types indicated as 1 and 0. 1 means true and 0 means false.

In [37]:
df1 = pa.concat([df,pa.get_dummies(df.room_type)],axis = 1)

df1 = df1.drop('room_type', axis = 1)

df1

             id  ... Shared room
0          2539  ...           0
1          2595  ...           0
2          3647  ...           0
3          3831  ...           0
4          5022  ...           0
...         ...  ...         ...
48890  36484665  ...           0
48891  36485057  ...           0
48892  36485431  ...           0
48893  36485609  ...           1
48894  36487245  ...           0

[48895 rows x 18 columns]

On the table we can see the room_type converted into numerical data. It was easy for room_type to use the dummy function because it has only three categories, means not that much data.

I think to convert the neighbour group I would have to clean up some data.

In [50]:
df = pa.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/AB_NYC_2019.csv")
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [51]:
edlevels = sorted(df.neighbourhood_group.unique())

edlevels

['Bronx', 'Brooklyn', 'Manhattan', 'Queens', 'Staten Island']

In [52]:
eddict = {}

for i in range(5):
  eddict[edlevels[i]] = i

eddict

{'Bronx': 0, 'Brooklyn': 1, 'Manhattan': 2, 'Queens': 3, 'Staten Island': 4}

In [53]:
df.groupby('neighbourhood_group').host_id.agg('count')

neighbourhood_group
Bronx             1091
Brooklyn         20104
Manhattan        21661
Queens            5666
Staten Island      373
Name: host_id, dtype: int64

In [54]:
df.neighbourhood_group.map(eddict)

0        1
1        2
2        2
3        1
4        2
        ..
48890    1
48891    1
48892    2
48893    2
48894    2
Name: neighbourhood_group, Length: 48895, dtype: int64

In [55]:
df.neighbourhood_group = df.neighbourhood_group.map(eddict)

df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

As, you can see I converted the numerical data seperatly for I  didn't know and was hard to convert in the same table. Here we used a for loop to define a numerical value to all the neighbourhood group and used the groupby function to group them together and convert eventually.