<a href="https://colab.research.google.com/github/SagarSitaula1/Data-Visual/blob/main/SQL_Wraps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [2]:
%%bigquery --project deep-presence-338719
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 10

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6
7  9900286214  ...                0
8  9900286540  ...               12
9    13575843  ...               47

[10 rows x 9 columns]

In [3]:
%%bigquery --project deep-presence-338719
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_stations`
LIMIT 4

   station_id  ...             modified_date
0        2576  ... 2021-01-04 12:00:00+00:00
1        2712  ... 2021-01-04 12:00:00+00:00
2        3381  ... 2021-01-04 12:00:00+00:00
3        3464  ... 2021-01-04 12:00:00+00:00

[4 rows x 14 columns]

What is the subscriber_type for most popular start station and is the most popular subscriber type also popular in most popular start station?

In [4]:
%%bigquery --project deep-presence-338719
SELECT COUNT(start_station_name) as count, start_station_name as name, subscriber_type as subs
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY name, subs
ORDER BY count DESC

      count                    name                               subs
0     70855    21st & Speedway @PCL            U.T. Student Membership
1     26611  Dean Keeton & Speedway            U.T. Student Membership
2     23283       23rd & Rio Grande            U.T. Student Membership
3     22093    Riverside @ S. Lamar                            Walk Up
4     21933            22nd & Pearl            U.T. Student Membership
...     ...                     ...                                ...
4480      1                3rd/West                        Annual Pass
4481      1             26th/Nueces                  Annual Membership
4482      1             26th/Nueces  Local365 Youth (age 13-17 riders)
4483      1             26th/Nueces                               None
4484      1           Nueces & 26th  Local365 Youth (age 13-17 riders)

[4485 rows x 3 columns]

In [5]:
%%bigquery --project deep-presence-338719
SELECT COUNT(subscriber_type) as count,subscriber_type as subs
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY subs
ORDER BY count DESC

     count                                 subs
0   374151                              Walk Up
1   289288              U.T. Student Membership
2   260376                             Local365
3   108672       24-Hour Kiosk (Austin B-cycle)
4    69062                              Local30
..     ...                                  ...
72       2              Annual Pass (30 minute)
73       1  24-Hour Membership (Austin B-cycle)
74       1          Heartland Pass (Annual Pay)
75       1         Heartland Pass (Monthly Pay)
76       0                                 None

[77 rows x 2 columns]

In [6]:
%%bigquery --project deep-presence-338719
SELECT COUNT(start_station_name) as count, start_station_name as name
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY name
ORDER BY count DESC

     count                      name
0    72799      21st & Speedway @PCL
1    40635      Riverside @ S. Lamar
2    36520  City Hall / Lavaca & 2nd
3    35307            2nd & Congress
4    34758      Rainey St @ Cummings
..     ...                       ...
188      4           Marketing Event
189      2             Eeyore's 2018
190      1                    Stolen
191      1             Eeyore's 2017
192      1     cesar Chavez/Congress

[193 rows x 2 columns]

Also the most popular start station is 21st & Speedway @PCL . However the results do not match with the outcome I am looking for.